<body background="https://cdn.jsdelivr.net/gh/jnlbrdr/angular-ivy-sd58uu@master/jjhj.jpg">

<body>
<body bgcolor="black">

<h1  style="font-family:papyrus;text-align:center;color:#F0E68C;" > {{ name }} </h1>
<h2 style="font-family:Copperplate Gothic Light;text-align:center;color:#ADD8E6;"> {{ age }} </h2>
<h2 style="font-family:Copperplate Gothic Light;text-align:center;color:#ADD8E6;"> {{ address }} </h2>

<hr>

</body>

<p style="font-family:papyrus;font-size:135%;text-align:justify;color:whitesmoke;">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sometimes it is hard to introduce yourself because you know yourself so well that you do not know where to start with. Nevertheless, here it goes. I always tell myself to be positive about every aspect of life that is me as a person. There are many things I like to know, to understand, and to experience. And for now, as a student, I've decided to live by 'Faith first. Study second.' likewise my motto. So far, I slowly and continuously am pursuing it.
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Moreover, I don't talk too much and I always direct to the point. And I don’t entertain negativity so that I am happy and loved. I always appreciate things, big or small but sometimes others can’t see it because I am not that ‘showy’. Sometimes, some of the people I got along with think that I am a snob and too serious type as what they see but it’s the opposite. Besides, I’m eager to learn new things, I want to develop something unique, I always thought about things with explanation how it begun and what will be the end. Each time, I look for the future and convincing to be practical.
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;And then recently, I enjoyed watching anime specifically 'One Piece' I like their concept about friendship but I am not yet finished watching all the episodes. Also, I once get back to practice playing drums. I like listening to the beats, I wanted to learn about drums specially it is for the Lord. Sadly, I don't have much time for practice because of class schedule. And, it just happened that I took care for the cats and I loved them. I love everything they do, their gestures are so cute.
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lastly, I’m feeling blessed every day because regardless of happenings right now, I am still alive. To God be all the glory!
</p>

